/**
  * @name Hide Nitro (+ Extras)
  * @author eros71
  * @description Hides the Nitro button (and other annyoing stuff) from the main sidebar and the settings
  * @source https://raw.githubusercontent.com/eros71-dev/HideNitro/main/HideNitro.theme.css
  * @website https://github.com/eros71-dev/HideNitro
  * @version 1.5
*/

li:has(a[href="/store"], a[href="/shop"]) {
    display: none;
}

/* Nitro gift button in the text input bar */
.container_c0c49a{
    display: none;
}

/* Window bar Incoming box and Help */
.trailing_c38106 .clickable_c99c29, .trailing_c38106 a[href="https://support.discord.com"]{
    display: none;
}

/* Nitro tab in User Settings */
div[role="tab"][aria-label="Nitro"]{
    display: none;
}

/* Store section in User Profile Settings */
.settingsPage_f131e9 .container__8279f{
    display: none;
}

/* Nitro section in User Profile Settings */
.upsellContainer__0b69f, .upsellContainerShadow__0b69f, .upsellContainerFloating__0b69f, .floatingNitroUpsell__39749{
    display: none;
}

/* Try It Out section in User Profile Settings */
.premiumFeatureBorder__65c15.featureBorder__65c15.tryItOutSection__9d295{
    display: none;
}

/* Upsell overlay in User Profile Settings */
.profileCustomizationSection__44061 .upsellOverlayContainer__0f7dc{
    display: none;
}

/* Nitro Server Boost tab in Payment Settings */
[data-tab-id="Nitro Server Boost"]{
    display: none;
}

/* Merchandise tab in Payment Settings */
[data-tab-id="merchandise"]{
    display: none;
}

/* Nitro nagging banner in Appearance Settings */
.container_a1d343{
    display: none;
}

/* Is this even necessary anymore? */
/*[aria-controls="discord-nitro-tab"]{
    display: none;
}

div[class^='recentsIcon']{
    display: none;
}*/

div[class^='nowPlayingColumn']{
    display: none;
}
